## 0729_Saterday_Study

##### When and What I've done so far

- 14:00 - 18:00 29th July, 2017 @ Starbucks Ichon, Seoul, Korea

##### Things to do today

- Get solved Helloworld Misson (Hide Phone Numbers)


- Revision [Python - Class]

### Helloworld - Hide Phone Numbers

In [212]:
def hide_numbers(s):
    #함수를 완성해 별이를 도와주세요
    a = '*' * (len(s)-4) + s[-4:]
    return a

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print("결과 : " + hide_numbers('01033334444'));

결과 : *******4444

In [213]:
def hide_numbers(s):
    a = '*' * (len(s)-4) + s[-4:]
    return a

print("결과 : " + hide_numbers('01033334444'))

결과 : *******4444

### Class Practice

#### Realization - A bbbbbasic Calculator

In [2]:
result = 0

def adder(num):
    global result
    result += num
    return result

print(adder(3))
print(adder(4))
print(adder(5))

3
7
12

#### Double-Calculator

In [3]:
result1 = 0
result2 = 0

# 1번 계산기
def adder1(num):
    global result1
    result1 += num
    return result1

# 2번 계산기
def adder2(num):
    global result2
    result2 += num
    return result2

print(adder1(3))
print(adder1(4))
print(adder2(3))
print(adder2(7))

3
7
3
10

#### Class Calculator

In [215]:
class Calculator:
    def __init__(self):
        self.result = 0
        
    def adder(self, num):
        self.result += num
        return self.result
    
    def sub(self, num):
        self.result -= num
        return self.result
    
cal1 = Calculator()
cal2 = Calculator()

print(cal1.adder(3))
print(cal1.adder(4))
print(cal2.adder(3))
print(cal2.adder(7))
print(cal1.sub(2))
print(cal2.sub(5))

# got printed out the same results!

3
7
3
10
5
5

In [13]:
class programmer:
    pass

In [15]:
kim = programmer()
park = programmer()

In [98]:
class Service:
    secret = '영구는 외계인이다'
    def __init__(self, name):
        self.name = name
    def sum(self, a, b):
        self.result = a + b
        print("%s님 %s + %s = %s입니다." % (self.name, a, b, self.result))

In [94]:
pey = Service('목진규')
pey.sum(1, 1)

목진규님 1 + 1 = 2입니다.

In [85]:
kwon = Service()
mok = Service()

kwon.name = '권수환'
mok.name = '목진규'

In [88]:
print(kwon.name)
print(mok.name)

권수환
목진규

In [81]:
pey = Service()
pey.setname('홍길동')
pey.sum(1, 1)

홍길동님 1 + 1 = 2입니다.

In [82]:
pey = Service()
pey.setname('김장훈')
pey.sum(1, 2)

김장훈님 1 + 2 = 3입니다.

사람은 졸면 안 돼.

In [70]:
pey = Service()
Service.sum(pey, 1, 1)

1 + 1 = 2입니다.

In [73]:
pey.sum(1, 1)

1 + 1 = 2입니다.

#### 사칙연산 클라스 만들기

In [101]:
class FourCal:
    def __init__(self, name):
        self.name = name
        
    def plus(self, a, b):
        self.result = a + b
        print('%s님 %s + %s = %s 입니다.' % (self.name, a, b, self.result))
        
    def minus(self, a, b):
        self.result = a - b
        print('%s님 %s + %s = %s 입니다.' % (self.name, a, b, self.result))
        
    def multiple(self, a, b):
        self.result = a * b
        print('%s님 %s + %s = %s 입니다.' % (self.name, a, b, self.result))
        
    def divide(self, a, b):
        self.result = a / b
        print('%s님 %s + %s = %s 입니다.' % (self.name, a, b, self.result))

In [107]:
jinkyu = FourCal('목진규')

jinkyu.plus(10, 10)
jinkyu.minus(20, 10)
jinkyu.multiple(10, 10)
jinkyu.divide(100, 10)

목진규님 10 + 10 = 20 입니다.
목진규님 20 + 10 = 10 입니다.
목진규님 10 + 10 = 100 입니다.
목진규님 100 + 10 = 10.0 입니다.

#### Calculator one more time!

In [122]:
class NewCalculator:
    def setdata(self, first, second): # 데이터 세팅 및 담아두는 기능
        self.first = first
        self.second = second
        
    def plus(self):
        result = self.first + self.second
        return result
    
    def minus(self):
        result = self.first - self.second
        return result
    
    def multiple(self):
        result = self.first * self.second
        return result
    
    def division(self):
        result = self.first / self.second
        return result

In [123]:
a = NewCalculator()
b = NewCalculator()

In [124]:
a.setdata(10, 5)
b.setdata(4, 2)

In [134]:
print_a = a.plus(), a.minus(), a.multiple(), a.division()
print_b = b.plus(), b.minus(), b.multiple(), b.division()

print(print_a, print_b)

(15, 5, 50, 2.0) (6, 2, 8, 2.0)

In [141]:
import numpy as np
import pandas as pd

#### Park's House(Inheritance) & Kim's House(Overriding)

In [203]:
class HousePark:
    lastname = '박'  # 자동 세팅
    
    def __init__(self, name):
        self.fullname = self.lastname + name
        
    def travel(self, where):
        print('%s, %s여행을 가다' % (self.fullname, where))
        
    def __add__(self, other):
        print('%s, %s 결혼했네.' % (self.fullname, other.fullname))
        
    def __sub__(self, other):
        print('%s, %s 헤어졌네.' % (self.fullname, other.fullname))
        
class HouseKim(HousePark):
    lastname = '김'
    
    def travel(self, where):
        print('%s는 %s로 여행합니다.' % (self.fullname, where))

In [208]:
jinkyu = HousePark('진규')
juliet = HouseKim('쥴리엣')

jinkyu.travel('런던')
juliet.travel('파리')

jinkyu + juliet
jinkyu - juliet

박진규, 런던여행을 가다
김쥴리엣는 파리로 여행합니다.
박진규, 김쥴리엣 결혼했네.
박진규, 김쥴리엣 헤어졌네.